/* Spotify color scheme */
/* Green = #84bd00 */
/* Black = #000000 */
/* Grey = #828282 */
/* Sand = #ecebe8 */
/* White = #ffffff */

body {
  background-color: #181818;
}

/* the header bar */
.top-bar {
  background-color: #4CAF50;
  text-align: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left : 0;
  border-bottom: 2px solid black;
}

 /* the text within the header bar */
.top-bar p {
  margin-top: 5px;
  font-weight: bold;
  font-size:25px;
  color: black;
}

  /*the green space where the buttons and input fields are located, the button group */
.btn-group {
  border-radius: 25px;
  background: #1DB954;
  width: 300px;
  height: 230px;
  border: 2px solid #000000;
  display:block;
  margin:0 auto;
  margin-top: 100px;
}

  /* the green buttons within the button group */
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  border-radius: 15px;
  width: 175px;
  height: 35px;
  cursor: pointer; /* Pointer/hand icon */
  margin-left: 62.5px;
}

  /* the black bolded text within the button group */
.btn-group b {
  font-size: 20px;
  margin-left: 65px;
  margin-right: 100px;
}

  /* The input fields within the button group. */
.btn-group input {
  width: 170px;
  height: 20px;
  margin-left: 65px;
  margin-right: 65px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  border: none;

}
